.card{
    display: inline-block;
   flex-direction: column;
   width: 300px;
   height: auto;
   border-radius: 1rem;
   overflow: hidden;
   box-shadow: 0px 0px 10px black;
   margin: 1rem;
   font-family: "rickandmorty", "Courier New",monospace;
   background-image:url(https://wallpaperaccess.com/full/3958025.jpg);
}

.botonD button{
    background-color: red;
    text-decoration: none;
}



  
  .homeButton button {
    color: rgb(30, 226, 30);
    background-color: gray;
    box-shadow: 0 0 5px 2px #00ff00;
  }